CDSE_USER=your_copernicus_data_space_email
CDSE_PASSWORD=your_copernicus_data_space_password

CDSE_TOKEN_ENDPOINT=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_CATALOGUE_ODATA_ENDPOINT=https://catalogue.dataspace.copernicus.eu/odata/v1
CDSE_DOWNLOAD_ODATA_ENDPOINT=https://download.dataspace.copernicus.eu/odata/v1
CDSE_CLIENT_ID=cdse-public

CDSE_COLLECTION=CLMS
CDSE_DATASET_IDENTIFIER=swi_europe_1km_daily_v2
CDSE_FILE_FORMAT=cog
SWI_BAND=SWI010

# Latvia bounding box in EPSG:4326: min_lon,min_lat,max_lon,max_lat
LATVIA_BBOX=20.5,55.6,28.5,58.1
